head
	link(rel="icon" href=require('./assets/favicon.png'))
	link(rel="apple-touch-icon" href=require('./assets/favicon.png'))
	meta(name="viewport" content="width=device-width, initial-scale=1")
	meta(name="google-site-verification" content="qULe83FX-8bLGr2XURLCHRv3wN-JkF5ef3LT-ASTKww")
	meta(name="twitter:card" content="summary_large_image")
	meta(name="theme-color" content="#be4858")
	meta(name="twitter:site" content="@moonersORG")

	meta(property="og:type" content="website")
	meta(property="og:image" content=require('./assets/social-image.jpg'))
	meta(name="twitter:image" content=require('./assets/social-image.jpg'))

	title Mooners - Crypto Market Analyses and Signals
	meta(property="og:title" content="Mooners - Crypto Market Analyses and Signals")
	meta(name="twitter:title" content="Mooners - Crypto Market Analyses and Signals")
		
	meta(name="description" content="Mooners is a market analytics platform built for the masses, we aim to use machine learning to find market patterns and advise investors about possible market opportunities and market analyses with an easy to use platform")
	meta(property="og:description" content="Mooners is a market analytics platform built for the masses, we aim to use machine learning to find market patterns and advise investors about possible market opportunities and market analyses with an easy to use platform")
	meta(name="twitter:description" content="Mooners is a market analytics platform built for the masses, we aim to use machine learning to find market patterns and advise investors about possible market opportunities and market analyses with an easy to use platform")

	link(rel="canonical" href="https://mooners.org/")
	meta(property="og:url" content="https://mooners.org/")
	meta(name="twitter:url" content="https://mooners.org/")
body
	main.site
		include ./modules/header/index.pug
		include ./modules/hero/index.pug		
		include ./modules/section/index.pug
		include ./modules/topics/index.pug
		include ./modules/register/index.pug
		include ./modules/donation/index.pug
		include ./modules/footer/index.pug
		script(async src="https://www.googletagmanager.com/gtag/js?id=UA-114929892-1")
		script.
			window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments);}gtag('js',new Date());gtag('config','UA-114929892-1');